<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.yao.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.yao.model.RoleDO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="description" property="description" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, code, description, gmt_create, gmt_modified
    </sql>

    <resultMap id="AccountResultMap" type="net.yao.dto.AccountDTO">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <!-- role_id 来合并去重 -->
        <collection property="roleList" ofType="net.yao.dto.RoleDTO" resultMap="RoleResultMap" column="role_id"/>
    </resultMap>

    <resultMap id="RoleResultMap" type="net.yao.dto.RoleDTO">
        <id  property="id"  column="role_id"/>
        <result  property="name"  column="role_name"/>
        <result property="code" column="role_code"/>
        <collection property="permissionList" ofType="net.yao.dto.PermissionDTO"
                    resultMap="PermissionResultMap" column="permission_id"/>
    </resultMap>

    <resultMap id="PermissionResultMap" type="net.yao.dto.PermissionDTO">
        <id  property="id"  column="permission_id"/>
        <result property="name" column="permission_name"/>
        <result property="code" column="permission_code"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, code, description, gmt_create, gmt_modified
    </sql>

    <!-- 获取角色编码列表 通过账户ID -->
    <select id="findRoleCodeList" resultType="string">
        SELECT r.code
        FROM account_role AS ar
                 LEFT JOIN  role AS r
                            ON r.id = ar.role_id
        WHERE ar.account_id = ${accountId}
    </select>

</mapper>
